@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.slider {
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
}

* {
    font-family: Outfit;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    min-height: 30px;
    background-image: url('./assets/slide_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-layer {
    background-image: url("./assets/bg_layer.png");
}